
.navbar .navbar-brand{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Lilita One", sans-serif;
    color: black;
    padding-left: 20px;
} 
.navbar .navbar-nav  a{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* NAVBAR ENDS */

.footer{
    background-color: rgb(31, 28, 28);
}

.footer-container{
    width: 100%;
    padding: 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
}

.social-icons a i{
    font-size: 1.6rem;
    color: rgb(26, 24, 24);
}

.social-icons a i:hover{
    color: rgb(28, 100, 100);
}

.footer-nav{
    margin: 7px 0;
}

.footer-nav ul{
    justify-content: center;
    display: flex;
}

.footer-nav ul li a{
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
}

.footer-bottom{
    background-color: rgb(31, 28, 28);
    padding: 8px;
    text-align: center;
}

.footer-bottom p{
    color: aliceblue;
}

.designer{
    font-family: "Oleo Script", system-ui;
}
/* footer ends */

/* media query */
@media screen and (max-width: 452px){
    .navbar .navbar-brand{
        font-size: 1.2rem;
    }

    .footer-container{
        width: 100%;
    }

    .social-icons a i{
        font-size: 20px;
    }

    .footer-nav ul li a{
        font-size: 15px;
    }

    .footer-bottom p{
        font-size: 13px;
    }

    .footer-container{
        font-size: 15px;
    }
}


