.navbar .navbar-brand{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Lilita One", sans-serif;
    color: black;
    padding-left: 20px;
} 
.navbar .navbar-nav  a{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* NAVBAR ENDS */
.footer{
    background-color: rgb(31, 28, 28);
}

.footer-container{
    width: 100%;
    padding: 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
}

.social-icons a i{
    font-size: 1.6rem;
    color: rgb(26, 24, 24);
}

.social-icons a i:hover{
    color: rgb(28, 100, 100);
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    justify-content: center;
    display: flex;
}

.footer-nav ul li a{
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
}

.footer-bottom{
    background-color: rgb(31, 28, 28);
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    color: aliceblue;
}

.designer{
    font-family: "Baskervville", serif
}
/* footer ends */

.about-us{
    background-image: url(../images/eclipse1\(services\).jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: top;
    height: 32rem;
    object-fit: cover;
    text-align: center;
    padding-top: 9rem;
}

.about-us h1{
    font-size: 4.5rem;
    color: white;
    font-family: "Baskervville", serif
}

.about-us p{
    color: aliceblue;
    font-family: "Baskervville", serif
}

.yap-header{
    margin-top: 50px;
}

.yap-header h1{
    text-align: center;
    font-weight: bold;
    font-family: "Baskervville", serif;
}

.yap-header h3{
    text-align: center;
    margin-top: 20px;
    font-family: "Baskervville", serif;
}

.yap-header p{
    text-align: center;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Baskervville", serif
}

.abs-us{
    background-image: url(../images/about-1.jpg);
    width: 100%;
    height: 34rem;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    object-fit: cover;
    margin-top: 50px;
}

.abs-us h1{
    padding-top: 60px;
    font-weight: bold;
    font-size: 5rem;
    color: rgba(98, 101, 104, 0.911);
}

.extra-yap{
    text-align: center;
}

.extra-yap p{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Baskervville", serif
}

.abs-lite{
    background-image: url(../images/sogood.jpg);
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 34rem;
    text-align: start;
    padding-top: 20rem;
    padding-left: 50px;
}

.abs-lite h1{
    font-size: 5rem;
    color: rgb(245, 238, 238);
}

.extra-yappy p{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Baskervville", serif
}

/* media query */
@media screen and (max-width: 452px){
    .navbar .navbar-brand{
        font-size: 1.2rem;
    }

    .about-us{
        height: 25rem;
    }

    .about-us h1{
        font-size: 40px;
    }

    .yap-header h3{
        font-size: 11px;
    }

    .yap-header p{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .abs-us{
        height: 25rem;
    }

    .abs-us h1{
        font-size: 40px;
        color: rgb(81, 105, 126);
        padding-top: 2px;

    }

    .extra-yap p{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .abs-lite{
        height: 25rem;
    }

    .abs-lite h1{
        font-size: 35px;
        text-align: start;
    }

    .extra-yappy p{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-container{
        width: 100%;
    }

    .social-icons a i{
        font-size: 20px;
    }

    .footer-nav ul li a{
        font-size: 15px;
    }

    .footer-bottom p{
        font-size: 13px;
    }

    .footer-container{
        font-size: 15px;
    }
}
